* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(95, 158, 160, 0.1);
}

.navbar {
  background-color: rgb(181, 207, 206, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 10px;
  border-bottom: 1px solid #87ae9b;
}

.list {
  margin-right: 1rem;
}

.list li a {
  text-decoration: none;
  display: block;
  color: #87ae9b;
  padding: 10px;
}

.list li:hover {
  background-color: rgb(181, 207, 206, 0.5);
  transition: 0.5s ease;
}

#logo {
  width: 80px;
}

/* .logo a{
    text-decoration: none;
    color: rgb(59, 101, 102);
    font-size: 30px;
    margin:0.3rem;
} */

ul {
  margin: 0px;
  display: flex;
  list-style-type: none;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  padding: 0%;
  margin: 0%;
}

.top-icons {
  width: 25px;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid black; */
}

#spanCart {
  background-color: rgb(255, 255, 255, 0.7);
  color: red;
  font-weight: bold;
  background-size: cover;
  width: 10px;
  display: flex;
  position: absolute;
  /* align-items: center; */
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  /* border: 2px solid black; */
}

.toggle-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 17px;
}

.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: rgb(59, 101, 102);
  border-radius: 10rem;
}

.carousel {
  width: 30%;
  height: 30%;
  margin: auto;
  background-color: rgb(59, 101, 102);
}

.logo-with-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 40%;
  height: 30%;
  /* border: 2px solid black; */
}

.logo-with-name img {
  width: 50%;
}

.logo-with-name-signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 15%;
}

.nameOfUser {
  font-size: 20px;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}

/* .d-block{
    width: 20px;
    height: 100%;
} */

.upSpan {
  /* display: none; */
  cursor: pointer;
  background-color: rgb(237, 192, 169, 0.8);
  border-radius: 0.8rem;
  color: #908160;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.3rem;
  /* transition: 1s; */
  visibility: hidden;
}

.upSpan:hover {
  background-color: rgb(237, 192, 169);
  color: rgb(144, 129, 96, 0.7);
}

.show {
  /* display: flex; */
  visibility: visible;
  /* transition: 1s ease; */
  position: fixed;
  bottom: 10px;
  right: 1px;
  /* right: 10px; */
}

#containerFlowers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 2px; */
  /* grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px; */

  /* display: subgrid;
    display: inline-grid; */

  /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; */

  /* grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, auto); */

  /* grid-row-gap: 1px;
    grid-column-gap: 9px; */

  /* justify-content: center;
    align-items: center; */
  gap: 7px;
  /* width: 70px; */
  margin-left: 15px;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid black; */
}

#containerDefultFlowers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  /* width: 70px; */
  margin-left: 15px;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
  /* border: 2px solid black; */
}

.flowerFullImage {
  /* width: 70px;
    height: 70px; */
  /* border: 2px solid red ; */
  padding-top: 1rem;
  background-color: rgb(191, 222, 154, 0.4);
  /* box-shadow: 3px 3px 10px 4px rgba(82, 119, 121, 0.2); */
  /* width: 200px; */
  height: auto;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.flowerDefultImage {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(191, 222, 154, 0.4);
  /* box-shadow: 3px 3px 10px 4px rgba(82, 119, 121, 0.2); */
  /* width: 200px; */
  height: auto;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.flowerFullImage:hover {
  background-color: rgb(191, 222, 154, 0.6);
  transform: scaleY(0.99);
  /* transform-origin: bottom; */

  cursor: pointer;
  transition: 0.3s ease;
}

.flowerDefultImage:hover {
  background-color: rgb(191, 222, 154, 0.6);
  transform: scaleY(0.99);
  /* transform-origin: bottom; */

  cursor: pointer;
  transition: 0.3s ease;
}

.flowerFullImage img {
  /* border: 2px solid pink; */
  width: 400px;
  margin: auto;
  justify-content: center;
  align-self: center;
}

.flowerDefultImage img {
  /* border: 2px solid pink; */
  width: 400px;
  margin: auto;
  justify-content: center;
  align-self: center;
}

.buttonAddToCart {
  background-color: rgb(237, 192, 169, 0.2);
  border: 1px solid rgb(144, 129, 96);
  border-radius: 0.7rem;
  box-shadow: 1px 1px 1px 2px rgb(144, 129, 96, 0.3);
  color: rgb(144, 129, 96, 0.5);
  font-weight: bold;
}

.buttonAddToCart:hover {
  background-color: rgba(235, 208, 194, 0.5);
  color: rgb(144, 129, 96, 0.8);
  transition: 0.3s ease;
}

/* #tableOfFlowers{
    grid-template-columns: 1fr 1fr 1fr;
} */

.price {
  color: red;
}

.description {
  font-weight: bold;
}

/* Here Begin Sign in page */

.containerSignIn {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgb(181, 207, 206, 0.3) !important;
}

/* .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #908160;
}

.social_icon span:hover {
  color: #908160;
  cursor: pointer;
  transition: 0.3s ease;
} */

.card-header h3 {
  color: #908160;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #87ae9b;
  color: #908160;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #908160;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: #908160;
  background-color: #87ae9b;
  width: 100px;
}

.login_btn:hover {
  color: #534a35;

  background-color: rgb(135, 174, 155, 0.7);
  transition: 0.5s ease;
}

.links {
  color: #908160;
}

.links a {
  margin-left: 4px;
}

/* End sign in page */

/* Start Admin Page Style */

/* #submitAdminPage{
    margin: auto;
    justify-content: center;
    align-self: center;
    border: 2px solid black;
} */

.spanElement {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
  width: 30px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 0px 0px 0px 1rem;
  box-shadow: 2px 2px 1px 1px black;
  /* border: 2px solid black; */
}

.spanElement:hover {
  background-color: rgb(255, 0, 0, 0.6);
  color: rgb(255, 255, 255, 0.7);
  box-shadow: 2px 2px 1px 1px rgb(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

/* End Admin Page Style */

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  .list {
    display: none;
    width: 100%;
    text-align: center;
  }

  .list ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .list li {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
  }

  .list.active {
    display: flex;
  }

  #containerFlowers {
    display: flex;
    flex-direction: column;
  }

  #containerDefultFlowers {
    display: flex;
    flex-direction: column;
  }
}
